@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.imgIconosNav {
    width: 40px;
}

.sectionPresentacion {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.divTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divTituloPrincipal h1 {
    font-weight: 600;
    font-size: 80px;
    letter-spacing: -7px;
    line-height: 65px;
    margin: 0;
}

.divTituloPrincipal p {
    margin-top: 10px;
    margin-bottom: 0px;
}

button {
    padding: 15px 40px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 15px;
}

model-viewer {
    margin-top: 40px;
    width: 100%;
    height: 250px;
}

.sectionServicios {
    margin-top: 15%;
    margin-left: 20px;
    margin-right: 20px;
}

.sectionServicios h1 {
    letter-spacing: -2px;
    margin-bottom: 0;
    text-align: center;
}

.sectionServicios p {
    text-align: center;
}

.divServicios {
    display: flex;
}

.tarjetasServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 125px;
    background-color: rgb(14, 14, 14);
    color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.tarjetasServicios img {
    width: 35px;
}


.tarjetasServicios h5 {
    text-align: left;
    margin: 0;
    margin-bottom: 2px;
    font-size: 15px;
}

.tarjetasServicios p {
    text-align: left;
    margin: 0;
    font-size: 8px;
    line-height: 8px;
}

.sectionPortafolio {
    margin-top: 15%;
    margin-left: 20px;
    margin-right: 20px;
}

.sectionPortafolio h1 {
    letter-spacing: -2px;
    margin-bottom: 0;
    text-align: center;
}

.sectionPortafolio p {
    text-align: center;
}

.tarjetaPortafolio {
    margin-top: 30px;
    color: white;
    border-radius: 25px;
    background-color: black;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.tarjetaPortafolio .divImg {
    height: 300px;
}


.tarjetaPortafolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}

.tarjetaPortafolio h2,
.tarjetaPortafolio p {
    margin: 0;
    text-align: left;
}

.sectionPortafolio h2 {
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.tarjetaPortafolio button {
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}

.tarjetaPortafolio .divInfo {
    padding: 15px 10px;
}

.tarjetaPortafolio button a {
    text-decoration: none;
    color: black;
}

.sectionNosotros {
    margin-top: 15%;
}

.sectionNosotros div {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.sectionNosotros h1 {
    text-align: center;
    letter-spacing: -2px;
    margin: 0;
    line-height: 28px;
}

.sectionNosotros p {
    text-align: center;
}

.sectionNosotros img {
    width: 100%;
}

footer {
    margin-top: 15%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

footer h1 {
    text-align: center;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 25px;
    line-height: 28px;
}

footer p {
    text-align: center;
}

footer img {
    width: 100%;
}

footer button {
    display: flex;
    color: #0de3ac;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.iconWhatsapp {
    width: 20px;
    margin-right: 10px;
}

.aCorreo {
    font-size: 30px;
    color: #0089ff9c;
}

.teclasFlotando {
    margin-top: 30px;
    width: 100%;
    border-radius: 25px;
}

.pCopyright {
    letter-spacing: -0.5px;
    color: #00000042;
    line-height: 15px;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}