@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.imgIconosNav {
    width: 40px;
}

.sectionPresentacion {
    margin-top: 15%;
}

.divTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divTituloPrincipal h1 {
    margin: 0;
}

.divTituloPrincipal h1 {
    font-weight: 600;
    font-size: 80px;
    letter-spacing: -7px;
    line-height: 65px;
}

button {
    width: 100%;
    padding: 15px 50px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
}

model-viewer {
    margin-top: 40px;
    width: 100%;
    height: 250px;
}

.divQuienesSomos h1 {
    letter-spacing: -2px;
    margin-bottom: 0;
}

.tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 10px 25px;
    margin-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imgTarjeta {
    width: 40%;
    object-fit: cover;
}

.tarjetaInfo {
    text-align: end;
}

.tarjetaInfo h2 {
    font-size: 40px;
    margin: 0
}