@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.imgIconosNav {
    width: 40px;
}

.sectionPresentacion {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divTituloPrincipal h1 {
    font-weight: 600;
    font-size: 80px;
    letter-spacing: -7px;
    line-height: 65px;
    margin: 0;
}

.divTituloPrincipal p {
    margin-top: 10px;
    margin-bottom: 0px;
}

button {
    padding: 15px 60px;
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
}

model-viewer {
    margin-top: 40px;
    width: 100%;
    height: 250px;
}

.sectionServicios {
    margin-top: 15%;
}

.sectionServicios h1 {
    letter-spacing: -2px;
    margin-bottom: 0;
    text-align: center;
}

.sectionServicios p {
    text-align: center;
}
.divServicios{
    display: flex;
}

.tarjetasServicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    background-color: rgb(14, 14, 14);
    color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.tarjetasServicios img {
    width: 35px;
}


.tarjetasServicios h5 {
    text-align: left;
    margin: 0;
}

.tarjetasServicios p {
    text-align: left;
    margin: 0;
    font-size: 8px;
}